{%- comment -%}
This partial requires a param: `teaching`
Optional param: mark_instructor=true
{%- endcomment -%}


{%- assign teaching = include.teaching -%}
{%- assign mark_instructor = include.mark_instructor | default: false -%}
{%- for univ in teaching -%}

<div class="univ">
  <p class="univ__name">{{ univ.univ }}</h3>
  <ul class="univ__courses">
    {%- for course in univ.courses -%}
    <li class="course">
      <p class="course__title">{{ course.code }}: {{ course.name }}</p>
      <p class="course__terms">
        {%- if mark_instructor -%}
          Instructor:&nbsp;
        {%- endif -%}

        {%- for term in course.terms -%} {%- if term.url -%}
        <a class="course__link" href="{{ term.url }}" target="_blank"
          >{{ term.term }}</a
        >
        {%- else -%} {{ term.term }} {%- endif -%}

        {% if forloop.last == false %}
          <span class="course__term--spacer">—</span>
        {% endif %}
        {%- endfor -%}
      </p>
    </li>
    {%- endfor -%}
  </ul>
</div>
{%- endfor -%}
