/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

/**
 * These provide a brief intro to the project and are shown on the homepage.
 */

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-unit;

  @include media-query(lap-and-up) {
    flex-direction: row;
  }
}

.project__img {
  @include media-query(lap-and-up) {
    margin-right: $spacing-unit--small;
    min-width: 150px;
  }
}

.project__name {
  @include font-size(16px);

  margin-bottom: 10px;
}

.project__links {
  @include font-size(14px);

  margin-bottom: $spacing-unit--small;
}

.project__excerpt {
  margin-bottom: $spacing-unit--small;
}
