/*------------------------------------*\
    #MASTHEAD
\*------------------------------------*/

/**
 * This is the masthead. It's only shown on the home page and is composed of
 * two parts: A picture and the vision statement.
 *
 * By default, the picture and vision statement are displayed in a column. On
 * larger screens, they are displayed side-by-side, with the picture on the
 * left.
 *
 * 1. Use flexbox to layout everything.
 * 2. Hide contact info until the screen gets large enough where it won't get
 *    in the way.
 * 3. Set a magic flex-basis for the contact info section so that text doesn't
 *    wrap.
 */

.masthead {
  display: flex; /* [1] */
  flex-direction: column;

  margin-bottom: $spacing-unit--large;

  @include media-query(lap-and-up) {
    flex-direction: row; /* [2] */
    margin-bottom: $spacing-unit;
  }
}

.masthead__me {
  text-align: center; // Center the image inside

  @include media-query(lap-and-up) {
    margin-bottom: $spacing-unit;
    padding: 0 1.5 * $spacing-unit;
    flex: 0 1 670px; /* [3] */
  }
}

.masthead__img {
  // Keep this in sync with the dimensions for the img in index.html
  border-radius: 80px;
  margin-bottom: $spacing-unit--small;
}

.masthead__vision {
  @include inuit-font-size(20px, 1.5);

  padding: 0 $spacing-unit--tiny;

  @include media-query(lap-and-up) {
    text-align: left; /* [3] */
    // We don't need padding on the right anymore
    padding: 0 0 0 $spacing-unit;
  }
}

.masthead__tagline {
  text-align: center;

  @include media-query(lap-and-up) {
    text-align: left;
  }
}

.masthead__contact__item {
  display: none; /* [2] */

  @include inuit-font-size(14px, 1);
  text-align: center;

  margin-bottom: $spacing-unit--small;

  @include media-query(lap-and-up) {
    display: block;
  }
}
