/*------------------------------------*\
    #MASTHEAD
\*------------------------------------*/

/**
 * This is the masthead. It's only shown on the home page and is composed of
 * three parts: A picture, the welcome message, and a vision statement.
 *
 * By default, the picture, welcome mesage, and vision statement are displayed
 * in that order. On larger screens, they are displayed side-by-side, with the
 * picture in the center.
 *
 * 1. Use flexbox
 *
 * On large screens...
 *  2. Display in a row.
 *  3. Move the welcome message to the left of the image.
 *  4. Give each item an equal amount of space so the image is centered.
 *  5. Left align the vision text
 */
.masthead {
  display: flex;
  flex-direction: column;

  @include media-query(lap-and-up) {
    flex-direction: row; /* [2] */
  }
}

    .masthead--me {
      text-align: center; // Center the image inside
      margin-bottom: $spacing-unit;

      @include media-query(lap-and-up) {
        padding: 0 3 * $spacing-unit;
      }
    }

    .masthead--img {
      // Keep this in sync with the dimensions in index.html
      border-radius: 80px;
    }

    .masthead--vision {
      @include inuit-font-size(20px, 1.5);

      padding: 0 $spacing-unit;

      @include media-query(lap-and-up) {
        text-align: left; /* [5] */
        // We don't need padding on the right anymore
        padding: 0 0 0 $spacing-unit;
      }
    }

    .masthead--contact {
      @include inuit-font-size(16px, 1);
    }
