/*------------------------------------*\
    #MASTHEAD
\*------------------------------------*/

/**
 * This is the masthead. It's only shown on the home page and is composed of
 * two parts: A picture and the vision statement.
 *
 * By default, the picture and vision statement are displayed in a column. On
 * larger screens, they are displayed side-by-side, with the picture on the
 * left.
 *
 * 1. Use flexbox
 *
 * On large screens...
 *  2. Display in a row.
 *  3. Left align the tagline and contact info
 *  4. Display a bullet in between contact info items
 */

.masthead {
  display: flex; /* [1] */
  flex-direction: column;

  margin-bottom: $spacing-unit--large;

  @include media-query(lap-and-up) {
    flex-direction: row; /* [2] */
    margin-bottom: $spacing-unit;
  }
}

.masthead__me {
  text-align: center; // Center the image inside
  margin-bottom: $spacing-unit;

  @include media-query(lap-and-up) {
    padding: 0 3 * $spacing-unit;
  }
}

.masthead__img {
  // Keep this in sync with the dimensions for the img in index.html
  border-radius: 80px;
}

.masthead__vision {
  @include inuit-font-size(20px, 1.5);

  padding: 0 $spacing-unit--tiny;

  @include media-query(lap-and-up) {
    text-align: left; /* [3] */
    // We don't need padding on the right anymore
    padding: 0 0 0 $spacing-unit;
  }
}

.masthead__tagline {
  text-align: center;

  @include media-query(lap-and-up) {
    text-align: left; /* [3] */
  }
}

.masthead__contact {
  display: flex;
  flex-direction: column;

  @include inuit-font-size(14px, 1);
  text-align: center;

  @include media-query(lap-and-up) {
    flex-direction: row;

    text-align: left; /* [3] */
  }
}

.masthead__contact__item {
  margin-bottom: $spacing-unit--small;

  @include media-query(lap-and-up) {
    margin-right: $spacing-unit--tiny;

    /* [4] */
    &:not(:last-child)::after {
      margin-left: $spacing-unit--tiny;
      content: '•';
    }
  }
}
