/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/

/**
 * These provide a brief intro to the project and are shown on the homepage.
 */

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  margin-bottom: $spacing-unit;
}

.project__name {
  @include inuit-font-size(20px, 1);

  margin-bottom: 10px;
}

.project__links {
  @include inuit-font-size(14px, 1);

  margin-bottom: $spacing-unit--small;
}

.project__excerpt {
  margin-bottom: $spacing-unit--small;
}
