/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

/**
 * The homepage has three components to lay out: the masthead, the projects
 * list, and the news section. We use CSS Grid to have a single column layout
 * on mobile, expanding to a 2x2 grid on tablet and up.
 *
 * 1. When we have space, move the news to a sidebar...
 * 2. ...and add extra spacing between masthead and rest of content.
 * 3. The contact info items use flex-wrap to look good on mobile, so we hack
 *    the parent margin to account for the extra margin-right when the items
 *    wrap.
 */

.homepage {
  display: grid;
  grid:
    'masthead'
    'projects'
    'teaching'
    'pubs'
    'short_pubs'
    'news';
  grid-gap: $spacing-unit--large $spacing-unit;

  @include media-query(lap-and-up) {
    grid:
      'masthead .......'
      'projects       news' // [1]
      'teaching       news'
      'pubs           news'
      'short_pubs     news'
      / 3fr minmax(180px, 1fr);
    grid-gap: $spacing-unit;
  }
}

/**
 * Masthead
 */
.masthead {
  grid-area: masthead;
  @include media-query(lap-and-up) {
    margin-bottom: 3 * $spacing-unit; // [2]
  }

  &__name {
    @include font-weight(bold);
  }

  &__intro {
    margin-bottom: $spacing-unit--tiny;
  }

  &__announce {
    @include font-weight(bold);
  }
}

.masthead__applications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  @include media-query(palm) {
    flex-direction: column;
  }

  &--spacer {
    margin: 0 0.25rem;

    @include media-query(palm) {
      display: none;
    }
  }
}

// .announce-horn {
//   display: inline-block;
//   text-align: center;
// }

/**
 * Contact info
 */
.masthead__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -$spacing-unit; // [3]
}

.contact__item {
  display: block;

  margin: 0 $spacing-unit 0 0;

  @include font-size(12px);
  @include font-weight(regular);
  color: $inuit-base-text-color;
}

/**
 * Projects
 */
.projects {
  grid-area: projects;
}

/**
 * Teaching
 */
.teaching {
  grid-area: teaching;
}

.univ {
  &__name {
    font-size: 1rem;
    @include font-weight(semibold);
  }

  &__courses {
    margin-left: 2rem;
    list-style: none;
  }
}

.course {
  margin-bottom: 1.5rem;

  &__title {
    margin-bottom: 0;
  }

  &__terms {
    @include font-size(12px);
    margin-bottom: 0;
  }
}


/**
 * Publications
 */
.pubs {
  grid-area: pubs;
}

.short_pubs {
  grid-area: short_pubs;
}

.pub {
  margin-bottom: $spacing-unit;

  &__name,
  &__authors,
  &__venue,
  &__year {
    display: inline;
    font-size: 1rem;
  }

  &__venue {
    font-style: italic;
  }

  &__blurb {
    border-left: 3px solid lightgray;
    padding-left: $spacing-unit--tiny;
  }
}

/**
 * News
 */
.news {
  grid-area: news;
}

.news__item {
  margin: $spacing-unit 0;
}

.news__date {
  display: block;
  text-align: right;
  @include font-size(12px);
}
